package {{PKG_NAME}}

import (
	"path/filepath"
	"testing"

	"golang.org/x/tools/go/analysis/analysistest"
)

func TestAnalyzer(t *testing.T) {
	rootDir, err := filepath.Abs("../..")
	if err != nil {
		t.Fatalf("failed to resolve root directory: %v", err)
	}

	analysistest.Run(t, rootDir, Analyzer,
		"./tests/{{CAT_PATH}}/{{SHORT_ID}}/positive",
		"./tests/{{CAT_PATH}}/{{SHORT_ID}}/negative",
	)
}
